<!DOCTYPE html>
<html>
<head>
	<title>Integrantes del grupo de wsp de futbol colina 3</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Admin</h1>
	<h3>Aguad</h3>
	<h3>Gonza</h3>
	<h3>Rama</h3>
	<h3>Luquitas</h3>
	<h3>Javier UC</h3>
	<h3>Osses</h3>
	<h1>Integrantes</h1>
	<h3>Aguad</h3>
	<h3>Gonza</h3>
	<h3>Rama</h3>
	<h3>Luquitas</h3>
	<h3>Javier UC</h3>
	<h3>Osses</h3>
	<h3>Nano</h3>
	<h3>Nicolits</h3>
	<h3>Dylan</h3>
	<h3>Agu</h3>


	<div>
		<table>
			<tr>
				<td>Columna 1 - fila 1</td>
				<td>Columna 2 - fila 1</td>
				<td>Columna 3 - fila 1</td>
			</tr>
			<tr>
				<td>Columna 1 - fila 2</td>
				<td>Columna 2 - fila 2</td>
				<td>Columna 3 - fila 2</td>
			</tr>
		</table>
	</div>

	<a href="http://www.google.cl">Hola, soy un enlace a Google</a>
	<br>
	<a href="file:///C:/Users/splik/t/aux2/auxiliar2/miapp/templates/miapp/index.html">Hola, soy un enlace a index</a>
	<a href="file:///C:/Users/splik/t/aux2/auxiliar2/miapp/templates/miapp/equipodocente.html">Hola, soy un enlace a equipo docente de tics</a>


</body>
</html>